<h1>Productos</h1>
{{#if hayProductos}}
  <ul>
    {{#each response.payload}}
      <li><strong>{{this.title}}</strong>
        <br />
        <strong>Price</strong>: $
        {{this.price}}
        <br />
        <strong>Description</strong>:
        {{this.description}}
        <br />
        <strong>Id</strong>:
        {{this._id}}
        </li>
      <br />
    {{/each}}
  </ul>
{{/if}}