<div class="section">
  <div class="title-container">
    <div class="lightbar"></div>
    <div class="top-layer"></div>
    <h1>{{pageTitle}}</h1>
  </div>

  <div class="form-container" style="margin-top:1rem">
    <form id="reset_email_form" class="custom-form" style="margin-top:2rem">

      <label for="email" class="form-input" style="margin-top:1rem">Ingresar email de usuario:
        <input id="reset_email" name="email" type="text" /></label>

      <button type="submit" class="form-input input-submit">Enviar Correo de reestablecimiento</button>

    </form>

    <div style="margin-top:2rem">
      <a href="/api/sessions/github">
        <button class="form-input input-submit" style="width: auto;">Entrar con Github</button>
      </a>
    </div>

  </div>
  <p style="color: #fff;">¿Ya estás registrado?
    <a href="/login" style="color: #b8d56e;">Ingresa aquí</a>
    </p>
  <script src="/js/resetPassword.js"></script>
</div>