<div class="section">
  <div class="title-container">
    <div class="lightbar"></div>
    <div class="top-layer"></div>
    <h1>{{pageTitle}}</h1>
  </div>

  <div class="form-container form-token" style="margin-top:1rem" id={{token}}>
    <form id="reset_password_form" class="custom-form" style="margin-top:2rem">

       <div class="reset-pass-user-email" id={{email}}></div>

      <label for="password" class="form-input" style="margin-top:1rem">Ingresar nueva contraseña:
        <input id="reset_password" name="password" type="password" /></label>

      <button type="submit" class="form-input input-submit">Reestablecer contraseña</button>

    </form>

    <div style="margin-top:2rem">
      <a href="/api/sessions/github">
        <button class="form-input input-submit" style="width: auto;">Entrar con Github</button>
      </a>
    </div>

  </div>
  <p style="color: #fff;">¿Ya estás registrado?
    <a href="/login" style="color: #b8d56e;">Ingresa aquí</a>
    </p>
  <script src="/js/resetPassword.js"></script>
</div>